 <footer class="footer">
        <ul class="footer-list">
            <li class="list-item">Github</li>
            <li class="list-item">Linkedin</li>
            <li class="list-item"></li>
        </ul>
    </footer>