 <header class="header">
        <h1 class="main-title">Colour Palettes</h1>
        <nav class="nav">
            <ul class="nav-list">
                <li class="list-item"><a href="/">Home</a></li>
                <li class="list-item"><a href="/palettes">Palettes</a></li>
                <li class="list-item"><a href="/generate">Generate</a></li>
            </ul>
        </nav>
    </header>