<div class="generate-container">
    <div class="generate-background">
            {{#each colors}}
                <div class="generate-color" style="background-color:{{this}}">{{this}}</div>
            {{/each}}
        </div>  
        <div class="generate-button-container">
            <a href="/generate">
            <button class="generate-btn btn">
            Generate</button>
            </a>
            <button class="save btn">Save</button>
    </div>
</div>

